.body {
    background-color: aliceblue;
    display: flex;
    color: black;
}

.sidebar, 
.main,
.adContent {
    height: 100vh;
    border-right: 1px solid;
    flex-grow: 1;
}

.main {
    flex-grow: 2;
}

